<ion-navbar *navbar>
  <ion-title>
    {{ child.name }}
  </ion-title>
</ion-navbar>
<ion-content class="page3">
  <ion-card>
    <ion-card-header>
      Tasks
    </ion-card-header>
    <ion-card-content>
      <ion-item *ngFor="#task of child.tasks">
        <ion-label>{{ task.title }}</ion-label>
        <ion-checkbox [checked]="task.completed">{{ task.title }}</ion-checkbox>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      Transactions
    </ion-card-header>
    <ion-item *ngFor="#transaction of child.transactions">
      {{ transaction.description }}
      <ion-note item-right>
        {{ transaction.amount | currency:'USD':true }}
      </ion-note>
    </ion-item>
  </ion-card>
</ion-content>
