<ion-navbar *navbar>
  <ion-title>Dashboard</ion-title>
</ion-navbar>

<ion-content class="page1">
  <ion-card *ngFor="#child of children">
    <ion-card-header (click)="navigateToChild(child)">
      {{ child.name }}
    </ion-card-header>
    <ion-list>
      <ion-item-sliding>
        <ion-item>
          <ion-avatar item-left>
            <img src="{{ child.avatar }}">
          </ion-avatar>
          <h2>{{ child.name }}</h2>
          <h3>{{ child.balance | currency:'USD':true }}</h3>
        </ion-item>
        <ion-item-options>
          <button primary (click)="editTasks(child)">
            <ion-icon name="clipboard"></ion-icon>
            Tasks
          </button>
          <button secondary (click)="editMoney(child)">
            <ion-icon name="card"></ion-icon>
            Money
          </button>
        </ion-item-options>
      </ion-item-sliding>
      <ion-item [hidden]="!settings.showTasks" *ngFor="#task of child.tasks | slice:0:2">
        <ion-label>{{ task.title }}</ion-label>
        <ion-checkbox [checked]="task.completed">{{ task.title }}</ion-checkbox>
      </ion-item>
      <ion-item>
        <button (click)="showDeppositModal(child)" clear item-right>
          <ion-icon name='card'></ion-icon>
        </button>
        <button (click)="showTaskModal(child)" clear item-right>
          <ion-icon name='add'></ion-icon>
        </button>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
